
@media (max-width: 1170px) {
  .main-page {

    .container {
      padding: 0 22px;
    }
  }
}













@media (max-width: 969px) {

  .container {
    width: 94.668%;
    padding-left: 0;
    padding-right: 0;

    &--small {
      width: 94.668%;
    }
  }


  /////////////// стили главной

  .main-page {

    .main-header {
      position: fixed;
    }

    .container {
      max-width: 926px;
    }

    .index-screen {

      &__input-wrapper {
        margin: 0 auto;
        width: 85%;
        background-image: url("../img/input-corner.png");
        background-repeat: no-repeat;
        background-position: top 0 right 0;
        background-color: rgba(106,195,227, 0.13);
        box-shadow: 0 0 20px 21px rgba(106,195,227, 0.13);

        &:before {
          display: none;
        }
      }

      input.index-screen__input[type="text"] {
        padding-right: 0;
        width: 90%;
        letter-spacing: -0.4px;
      }

      &__more {
        box-sizing: border-box;
        margin: 0 auto;
        width: 85%;
      }
    }

    .main-footer {

      &__item-1 {

        &:before {
          background-size: 80%;
        }
      }

      &__item-2 {

        &:before {
          background-size: 80%;
        }
      }

      &__item-3 {

        &:before {
          background-size: 80%;
        }
      }

      &__item-4 {

        &:before {
          background-size: 80%;
        }
      }
    }

    .gallery {

      &--main-page {
        margin-right: -3%;
      }

      .gallery-item {
        margin-right: 3%;
        width: 30.15%;
      }
    }

    .content-block {

      &--join-us {
        padding: 25px;
      }

      &--some-information {
        display: block;
      }
    }
  }

  /////////////// стили страницы инфо

  .info-page {
    min-width: 750px;
    width: 100%;

    .container {

      padding-top: 25px;
    }

    .s-4 {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }

    .s-8 {
      padding-right: 0;
      width: 100%;
    }

    .content-block {

      &__image {
        width: 70%;

        &--bigger {
          width: 50%;
        }
      }
    }
  }

  //скрытая навигация
  .info-navigation {
    position: relative;
    width: 100%;

    &__list {
      display: none;

      &--active {
        display: block;
        position: absolute;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
      }
    }
  }

  //кнопка включения мобильного меню
  .navigation-toggle {
    display: block;
  }

  //контентные блоки на стр.инфо
  .content-block {
    &__photo {
      width: 100%;
    }

    //обертка иконок в блоке "о проекте"
    &__icon-wrapper {
      width: 30%;

      &--second {
        padding-left: 30px;
      }
    }

    //обертка текста в блоке "о проекте"
    &__text-wrapper {
      width: 60%;
    }

    //обертка иконки в блоке "о проекте"
    &__icon {
      max-width: 100%;
    }

    //блок обратной связи скрыт
    &--feedback {
      display: none;
    }

    //полоска под заголовками блоков
    &__title {

      //полоска-разделитель под заголовком
      &:after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: -22px;
        right: 0;
        width: 110%;
        border-bottom: 1px solid #edf7fa;
      }
    }

    //полоска под текстом в блоке "о проекте"
    &__text {

      &--underline {

        &:after {
          width: 100%;
        }
      }
    }

    //обертка текста в блоках купить и продать
    &__feature-wrapper {
      padding-right: 40px;
      width: 55%;

      &--sell {
        padding-right: 0;
      }
    }

    //обертка картинки с мышью в блоках купить и продать
    &__image-wrapper {
      width: 30%;

      &--sell {

        .content-block__image {
          padding-right: 0;
        }
      }
    }
  }

  //блок часто задаваемых вопросов
  .faq {

    &__content {
      padding-right: 160px;

      &:after {
        width: 100%;
      }
    }

    &__toggle {

      &:before {
        width: 100%;
      }
    }
  }

  /////////////// стили страницы избранное

  .favourites-page {
    min-width: 750px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.333%;
        overflow: hidden;
      }
    }

    .s-4 {
      padding: 0;
      width: 100%;
    }

    .s-8 {
      padding: 0;
      width: 100%;
    }
  }

  .gallery {

    &--favourites {
      margin-right: -2.493%;
    }
  }

  //карточка товара занимает треть контейнера галереи
  .gallery-item {
    margin-right: 2.493%;
    margin-bottom: 27px;
    width: 30.84%;

    &__image {
      width: 100%;
      height: auto;
    }

    &__brand {

      &--display {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  .page-title {
    margin-bottom: 15px;
  }

  .content-block {
    position: relative;
    z-index: 500;

    &--why-ningo {
      display: none;
    }

    &--join-us {
      position: relative;
      display: block;
      margin-bottom: 33px;
      padding: 26px 84px;
      text-align: center;
      z-index: 50;
      overflow: visible;

      &:after {
        content: url("../img/speech-bubble.png");
        position: absolute;
        right: 70px;
        bottom: -25px;
      }

      &:before {
        content: url("../img/thumbs-up.png");
        position: absolute;
        bottom: -75px;
        right: 15px;
      }
    }

    &__text {

      &--display {
        display: block;
        color: #2b7a97;
      }

      &--join-us {
        margin-bottom: 15px;
        line-height: 20px;
      }
    }
  }

  /////////////// стили страницы "мои вещи"

  .my-items {
    min-width: 750px;
    width: 100%;

    //свой набор блоков в каждом варианте макета
    .content-block {

      &--join-us {
        display: none;
        overflow: visible;
      }

      &--why-ningo {
        display: block;
        height: 170px;
      }

      &--why-ningo-second {
        display: block;
      }

      &--some-information {
        display: none;
      }
    }

    .gallery-item {
      display: none;

      &--tablet {
        display: inline-block;
        vertical-align: top;
      }
    }

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.333%;
        overflow: hidden;

      }
    }

    .s-4 {
      padding: 0;
      width: 100%;
    }

    .s-8 {
      padding: 0;
      width: 100%;
    }

    .gallery-item {
      margin-right: 2.377%;
      margin-bottom: 30px;
      width: 22.62%;

      &__image {
        width: 100%;
        height: auto;
      }
    }

    .add-item {
      width: 22.62%;
      margin-right: 2.377%;
      margin-bottom: 30px;

      &__link {

        &:before {
          top: 23.6%;
        }

        &:after {
          top: 60%;
        }
      }
    }
  }

  .gallery {

    &--my-items {
      display: block;
      margin-right: -2.377%;

      &:before {
        width: 100%;
        top: -20px;
      }
    }
  }

  /////////////// стили страницы "профиль"

  .profile-page {
    min-width: 750px;
    width: 100%;

    //элементы выступают за пределы контейнера, каскад - чтобы перебить вес селектора
    .content-block {

      &--join-us {
        display: none;
        overflow: visible;
      }

      &--some-information {
        display: none;
      }

      &--why-ningo {
        display: block;
        height: 130px;
      }
    }

    .container {
      padding-left: 0;
      padding-right: 0;
      padding-top: 40px;

      &--small {
        width: 95.333%;
        overflow: hidden;
      }
    }

    .s-4 {
      padding: 0;
      width: 100%;
    }

    .s-8 {
      padding: 0;
      width: 100%;
    }

    .gallery {
      margin-right: -2.377%;
      margin-bottom: 24px;
      min-width: 715px;

      &:before {
        width: 100%;
      }

      &--profile-likes {
        margin-right: -1.958%;
      }
    }

    .gallery-item {
      margin-right: 2.377%;
      margin-bottom: 12px;
      width: 22.62%;

      &__image {
        width: 100%;
        height: auto;
      }
    }

    .like-item {
      margin-right: 1.958%;
      width: 31.3%;
    }

    .rating-box {

      &--blue {
        margin-bottom: 5px;
        width: 100%;
      }
    }

    .btn--like {
      margin-left: 0;
    }

    .profile-card {
      padding: 30px;

      &__info-wrapper {
        width: 72%;
      }

      &__info-row {
        width: 100%;
      }

      &__contacts {
        width: 47%;
      }

      &__stats {
        width: 47%;
      }
    }
  }

  /////////////// стили страницы уведомлений

  .notifications-page {
    min-width: 750px;
    width: 100%;

    .content-block {

      &--join-us {
        display: none;
        overflow: visible;
      }

      &--why-ningo {
        display: none;
      }
    }

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.333%;
      }
    }

    .s-4 {
      padding: 0;
      width: 100%;
    }

    .s-8 {
      padding: 0;
      width: 100%;
    }

    .notification-item {
      padding-left: 2.517%;
      padding-right: 2.517%;
      width: 94.96%;

      &__text-wrapper {
        max-width: 79.72%;
      }
    }
  }

  /////////////// стили страницы сообщений

  .messages-page {
    min-width: 750px;
    width: 100%;

    .content-block {
      display: none;
      overflow: hidden;

      &--join-us {
        overflow: visible;
      }
    }

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.333%;
      }
    }

    .s-4 {
      padding: 0;
      width: 100%;
    }

    .s-8 {
      padding: 0;
      width: 100%;
    }
  }

  .gallery {

    &--messages {

      &:before {
        width: 100%;
      }
    }
  }

  .comment {

    &:before {
      width: 120%;
    }

    &__textarea {
      width: 90%;
    }

    &--active {

      .comment__form-wrapper {
        background-size: 95% 61px;
      }
    }
  }

  .message-item {

    &__title-wrapper {

      &:after {
        width: 120%;
      }
    }

    &__comment-wrapper {
      max-width: 80%;
    }

    &__comment-text {
      max-width: 100%;
    }
  }

  /////////////// стили страницы кошелька

  .wallet-page {
    min-width: 750px;
    width: 100%;

    .content-block {
      overflow: hidden;

      &--join-us {
        display: none;
        overflow: visible;
      }

      &--some-information {
        display: block;
      }

      &--active {
        position: fixed;
        z-index: 1001;
        top: 55px
      }
    }

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.333%;
      }
    }

    .s-4 {
      padding: 0;
      width: 100%;
    }

    .s-8 {
      padding: 0;
      width: 100%;
    }
  }

  .content-block {

    &__card-information {
      width: 23%;
    }

    &__withdraw-money-form {
      width: 73%;
    }
  }

  /////////////// стили страницы корзины

  .cart-page {
    min-width: 750px;
    width: 100%;

    .content-block {
      overflow: hidden;

      &--join-us {
        display: none;
        overflow: visible;
      }

      &--some-information {
        display: block;
      }

      &--active {
        position: fixed;
        z-index: 1001;
        top: 55px
      }
    }

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.333%;
      }
    }

    .s-4 {
      padding: 0;
      width: 100%;
    }

    .s-8 {
      padding: 0;
      width: 100%;
    }
  }

  .gallery {

    &--cart {

      &:before {
        width: 100%;
      }
    }
  }

  .content-block {

    &__link {

      &--buy-more {
        margin-bottom: 12px;
        width: 100px;
        text-align: left;
      }
    }

    &__footer {

      &:before {
        width: 120%;
      }
    }

    &__item-price-wrapper {

      &:before {
        width: 120%;
      }
    }
  }

  .btn {

    &--confirm-delivery {
      float: right;
    }
  }

  /////////////// стили хедера для незалогиненного пользователя

  .main-header {
    position: relative;

    &__navigation {
      display: none;
    }

    &__right {
      display: none;
    }

    .mobile-menu-toggle {
      display: block;
    }

    //маргин контейнера при скрытых кнопках "войти" и "продать"
    &__input-container {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .logo {

    &--big {
      position: relative;

      &:after {
        content: url("../img/logo-750.png");
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
      }
    }
  }

  /////////////// стили страницы подачи объявления

  .sell-item-page {
    min-width: 750px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.333%;
      }
    }

    .s-6 {
      width: 48.6%;

      &--margin-right {
        margin-right: 2.8%;
      }

      &--full-width {
        margin-right: 0;
        width: 100%;
      }
    }

    .content-block {
      padding: 18px;
      padding-bottom: 27px;

      input[type="text"] {
        margin-bottom: 7px;
      }

      &__label {
        line-height: 24px;
      }

      &--first {
        min-height: 526px;
      }

      &__title {

        &:after {
          width: 130%;
        }
      }

      &--sell-item-fourth {
        padding-bottom: 0;
      }
    }
  }

  .content-block {

    &__example-photo-container {
      margin: 0 auto;
      max-width: 355px;
    }

    &__example-photo-wrapper {
      width: 47.5%;
      max-width: 170px;
      height: auto;
      margin-right: 0;
      margin-bottom: 18px;

      &--to-left {
        float: left;
      }

      &--to-right {
        float: right;
      }

      &--last-row {
        margin-bottom: 0;
      }
    }

    &__image {
      width: 100%;
    }

    &__flag {

      &:before {
        left: 22%;
      }
    }

    textarea[name="item-description"] {
      margin-bottom: 25px;
      max-height: 87px;
    }

    &__select-wrapper {
      margin-bottom: 7px;
    }

    &__column-wrapper {
      display: inline-block;
      vertical-align: top;

      &--first {
        width: 52%;
      }

      &--second {
        width: 45%;
      }
    }

    &__label {

      &--delivery {
        margin-right: 24px;
      }

      &--second {
        margin-bottom: 15px;
      }
    }

    &__link {

      &--sell-item {
        line-height: 26px;
      }
    }
  }

  /////////////// стили страницы "мой профиль"

  .my-profile-page {
    min-width: 750px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.333%;
      }
    }

    .s-4 {
      padding: 0;
      width: 100%;
    }

    .s-8 {
      padding: 0;
      width: 100%;
    }

    .content-block {

      &--modal-content-my-profile {
        position: fixed;
        z-index: 1001;
      }
    }
  }

  .content-block {

    &__upload-container {
      margin-bottom: 27px;
    }

    &__title {

      &--my-profile {

        &:after {
          width: 120%;
        }
      }
    }

    &__profile-information-container {

      &:after {
        width: 120%;
      }
    }

    &__refresh-button {

      &:before {
        width: 120%;
      }
    }

    &__part {

      &--first {

        &:after {
          width: 120%;
        }
      }
    }

    &__section-container {

      &--privacy-settings {

        &:after {
          width: 120%;
        }
      }
    }

    &--who-can-see {
      padding-bottom: 10px;
    }
  }

  .display-options,
  .my-brands,
  .item-size {

    &:after {
      width: 120%;
    }
  }

  /////////////// стили страницы регистрации

  .registration-page {
    min-width: 750px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.333%;
      }
    }

    .main-header {

      &__right {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  ///////////////// стили страницы промо

  .promo-page {

    &__outer-container {
      height: 1024px;
    }

    .container {
      padding-top: 118px;
    }

    .page-title {
      margin-bottom: 50px;
    }

    .promo-content {

      &__card {
        margin-bottom: 170px;
      }
    }
  }

  /////////////// стили страницы вещи

  .item-page {
    min-width: 750px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.333%;
        overflow: hidden;
      }
    }

    .row {

      &--first {

        .s-4 {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 82px;
          width: 48.5%;
        }

        .s-8 {
          padding: 0;
          padding-bottom: 94px;
          margin-left: 3%;
          width: 48.5%;
          min-height: 463px;
        }
      }

      &--second {

        .s-4 {
          padding: 0;
          width: 100%;
        }

        .s-8 {
          margin-left: 0;
          padding: 0;
          width: 100%;
        }
      }
    }

    .banner-wrapper {
      width: 100%;
      min-height: 436px;
    }

    .banner {
      width: 100%;
      min-height: 436px;

      &__list {
        width: 100%;
        height: auto;
        min-height: 436px;
        max-height: 563px;
      }

      &__list-item {
        width: 100%;
      }

      &__image {
        width: 100%;
        height: auto;
      }
    }

    .item-description-table {
      width: 100%;
    }

    &__content-footer-links {
      margin-bottom: 35px;
    }

    .gallery-item {
      margin-right: 2%;
      width: 22.9%;

      &__comment-like {

        &--item-card {

          .gallery-item {

            &__comment-description {

              &--like {
                display: none;
              }

              &--comment {
                display: none;
              }
            }

            &__icon {

              &--like {

                &:after {
                  left: -3px;
                }
              }

              &--comment {

                &:after {
                  left: 20px;
                }
              }
            }
          }
        }
      }
    }

    &__item-card-container {
      min-height: 436px;
    }

    .buttons-wrapper {
      width: 100%;
      left: 0;
    }

    .btn {

      &--add-to-cart {
        width: 48.5%;
      }

      &--edit {
        top: -94px;
        width: 48.5%;
      }

      &--quick-sell {
        float: right;
        width: 48.5%;
      }
    }

    .item-price-btn-wrapper {
      margin-right: 3%;
      width: 48.5%;
    }

    .item-price-btn {

      &--bidding {
        padding-right: 75px;
        width: 100%;
      }

      &__bidding-link-wrapper {
        width: 75px;

        &:before {
          right: 75px;
        }
      }
    }

    &--edit {

      .row {

        &--first {

          .s-8 {
            padding: 0;
            padding-bottom: 160px;
            margin-left: 3%;
            width: 48.5%;
            min-height: 463px;
          }
        }
      }

      .gallery-item {

        &__comment-like {

          &--item-card {

            .gallery-item {

              &__icon {

                &--like {

                  &:after {
                    left: -15px;
                  }
                }

                &--comment {

                  &:after {
                    left: 10px;
                  }
                }
              }
            }
          }
        }
      }

      .item-page {

        &__item-card-container {
          min-height: 369px;
        }
      }
    }
  }

  .content-block {

    &--item-card {

      &:after {
        bottom: -22px;
      }
    }

    &--why-ningo {
      display: block;
      max-height: 130px;
    }

    &--some-information {
      display: none;
    }

    &--active {
      position: fixed;
      z-index: 1000;
    }
  }

  .gallery {

    &--item-page {
      box-sizing: border-box;
      margin-right: -2.7%;
      width: 102.7%;
    }
  }

  .filter {

    &--item-page {

      &:after {
        width: 100%;
      }
    }
  }
}




























@media (max-width: 749px) {

  .container {
    width: 87.5%;
    padding-left: 0;
    padding-right: 0;

    &--small {
      width: 87.5%;
    }
  }

  /////////////// стили главной

  .main-page {

    .container {
      padding: 0;
      width: 95.33%;
    }

    .s-8 {
      padding: 0;
      width: 100%;
      overflow: hidden;
    }

    .s-4 {
      padding: 0;
      width: 100%;
    }

    .index-screen {

      .logo {
        margin-right: 10px;
      }

      nav {

        a {

          margin-right: 15px;
        }
      }

      &__login {

        .tooltip-container {

          .btn {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }

      &__input-wrapper {
        display: none;

        &--mobile {
          display: block;
        }
      }
    }

    .filters {

      &__text {
        padding-right: 10px;
        font-size: 12px;

        @media (min-width: 481px) and (max-width: 545px) {
          font-size: 10px;
          letter-spacing: -0.3px;
        }
      }
    }

    .main-footer {

      &__item {

        p {
          font-size: 12px;
        }
      }

      &__item-1 {

        &:before {
          background-size: 75%;
        }
      }

      &__item-2 {

        &:before {
          background-size: 75%;
        }
      }

      &__item-3 {

        &:before {
          background-size: 75%;
        }
      }

      &__item-4 {

        &:before {
          background-size: 75%;
        }
      }
    }

    .content-block {

      &--join-us {
        overflow: visible;
      }
    }
  }
  /////////////// стили страницы инфо

  .info-page {
    min-width: 480px;

    .content-block {

      &__image {
        width: 100%;
        padding-left: 0;

        &--bigger {
          width: 80%;
        }
      }

      &__image-wrapper {

        &--sell {
          padding-left: 0;
        }
      }
    }
  }

  .content-block {
    overflow: hidden;

    &__icon-wrapper {
      margin-bottom: 20px;
      padding: 65px 0;
      width: 100%;
      text-align: center;
      background-color: #f4f4f4;
    }

    &__text-wrapper {
      width: 100%;
    }

    &__text {

      &--underline {
        padding-bottom: 24px;
      }
    }

    &__image-wrapper {
      min-height: 100px;
      width: 25%;
    }

    &__feature-wrapper {
      padding-top: 50px;
      padding-right: 0;
      width: 68%;
    }

    //полоска под заголовками блоков
    &__title {

      //полоска-разделитель под заголовком
      &:after {
        width: 130%;
      }
    }
  }

  .faq {

    &__content {
      padding-right: 10px;
    }

    &__toggle {
      padding-right: 50px;
    }
  }

  /////////////// стили страницы избранное

  .favourites-page {
    min-width: 480px;
    width: 100%;

    .container {
      padding-top: 35px;
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }
  }

  .page-title {
    margin-bottom: 21px;
    text-align: center;
  }

  .gallery {

    &--favourites {
      margin-right: -3.54%;
      min-width: 460px;
    }
  }

  .gallery-item {
    width: 46.458%;
    margin-right: 3.54%;
    margin-bottom: 17px;

    &--display {
      display: inline-block;
      vertical-align: top;
    }
  }

  .content-block {

    &--join-us {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  /////////////// стили страницы "мои вещи"

  .my-items {
    min-width: 480px;
    width: 100%;

    .container {
      padding-top: 35px;
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }

    .gallery {

      &--my-items {
        margin-bottom: 63px;
        margin-right: -2.917%;
        min-width: 460px;

        &:before {
          top: -22px;
        }
      }
    }

    .gallery-item {
      width: 47%;
      margin-right: 2.917%;
      margin-bottom: 17px;
    }

    .add-item {
      width: 47%;
      margin-right: 2.917%;
      margin-bottom: 17px;

      &__link {

        &:before {
          top: 27.245%;
        }

        &:after {
          top: 54.18%;
        }
      }
    }

    .content-block {

      &--why-ningo {
        display: none;
      }

      &--why-ningo-second {
        display: none;
      }

      &--join-us {
        display: block;
        overflow: visible;
      }

      &--some-information {
        display: block;
        height: 147px;
      }
    }
  }

  /////////////// стили страницы "профиль"

  .profile-page {
    min-width: 480px;
    width: 100%;

    .container {
      padding-top: 35px;
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }

    .gallery {
    min-width: 460px;

    &--profile-items {
      margin-right: -2.917%;
      margin-bottom: 18px;
    }

    &--profile-likes {
      margin-right: -3.043%;
      margin-bottom: 18px;
    }
  }

    .gallery-item {
      width: 47%;
      margin-right: 2.917%;
      margin-bottom: 14px;
    }

    .like-item {
      margin-right: 3.043%;
      width: 46.5%;
    }

    .profile-card {
      padding-right: 4.345%;
      padding-left: 4.345%;
      padding-top: 22px;
      padding-bottom: 16px;
      width: 91.304%;

      &__picture-wrapper {
        margin-right: 0;
        width: 100%;
        font-size: 0;
      }

      &__avatar {
        float: left;
        display: inline-block;
        vertical-align: top;
        width: 28.04%;
        height: auto;
      }

      &__btn {
        float: right;
        display: inline-block;
        vertical-align: top;
        width: 48.5%;

        &--to-left {
          float: left;
        }
      }

      &__username {
        display: none;

        &--mobile {
          display: block;
        }
      }

      &__btn-wrapper {
        float: right;
        display: inline-block;
        vertical-align: top;
        width: 62%;
      }

      &__name-wrapper {
        float: right;
        display: inline-block;
        vertical-align: top;
        width: 62%;
      }

      &__username {
        font-size: 18px;
        line-height: 36px;
      }

      &__info-wrapper {
        width: 100%;
      }
    }

    .rating-box {

      &--orange {
        margin-bottom: 15px;
      }

      &--desktop {
        display: none;
      }
    }

    .content-block {

      &--why-ningo {
        display: none;
      }

      &--join-us {
        display: block;
        overflow: visible;
      }

      &--some-information {
        display: block;
        min-height: 150px;
      }
    }
  }

  /////////////// стили страницы уведомлений

  .notifications-page {
    min-width: 480px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }

    .notification-item {
      padding-left: 4.35%;
      padding-right: 4.35%;
      width: 91.3%;

      &__text-wrapper {
        max-width: 79.72%;
      }
    }
  }

  /////////////// стили страницы сообщений

  .messages-page {
    min-width: 480px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }

    .s-8 {
      margin-bottom: 5px;
    }

    .content-block {

      &--why-ningo {
        display: block;
      }
    }
  }

  .page-title {

    &--messages {
      float: none;
      margin-bottom: 2px;
      text-align: center;
    }
  }

  .filter {

    &--messages {
      float: none;
      margin-bottom: 15px;

      .filter__list {
        text-align: center;
      }

      .filter__item {

        &--first {
          margin-left: 0;
        }
      }
    }
  }

  .comment {

    &--active {

      .comment__form-wrapper {
        background-image: url("../img/input-message-bg-480.png");
        background-size: 93% 61px;
      }

      .comment__textarea {
        max-width: 88%;
      }
    }
  }

  .message-item {

    &__comment-author-location {
      display: none;
    }

    &__comment-wrapper {
      max-width: 83%;
    }
  }

  /////////////// стили страницы кошелька

  .wallet-page {
    min-width: 480px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }
  }

  .content-block {

    &__payment-icons-image {
      max-width: 53.5%;
    }

    &__card-information {
      width: 50%;
    }

    &__withdraw-money-form {
      width: 50%;
    }

    &__input-wrapper {
      margin-right: 0;
      margin-bottom: 17px;
    }

    &__text--wallet-not-logged-in {
      padding-top: 0;
      width: 53.5%;
    }
  }

  /////////////// стили страницы корзины

  .cart-page {
    min-width: 480px;
    width: 100%;

    .container {
      padding-top: 25px;
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }

    .content-block {

      &--active {
        top: 25px;
        width: 420px;
        margin-left: -228px;
        padding: 30px 18px;
      }

      &__text-input {

        &--margin-right {
          margin-right: 3.5%;
        }

        &--third-width {
          width: 47.8%;
        }

        &--two-thirds-width {
          width: 47.8%;
        }
      }
    }
  }

  .page-title {

    &--cart {
      text-align: left;
    }
  }

  .content-block {

    &__item-image-wrapper {
      width: 133px;
      height: 168px;
    }

    &__item-description-wrapper {
      width: 58%;
    }

    &__payment-details-wrapper {
      margin-bottom: 30px;
      width: 100%;
    }

    &__total-price {
      padding-right: 15px;

      &:after {
        right: 0;
        top: 1px;
      }
    }

    &__link {

      &--refill {
        padding-right: 0;
      }
    }
  }

  .btn {

    &--proceed-to-checkout {
      display: block;
      margin: 0 auto;
      width: 203px;
    }
  }

  /////////////// стили хедера для незалогиненного пользователя

  .main-header {

  }

  .mobile-menu {
    padding-left: 3.5%;
    padding-right: 3.5%;
    width: 93%;
    min-width: 320px;
    overflow: hidden;

    &__text {
      width: 49%;
    }

    &__social-icons {
      margin-left: 0;
      width: 49%;
    }

    &__item {

      &:after {
        width: 120%;
      }
    }
  }

  .login-by-email {

    input[type="text"] {
      margin: 0 auto;
      margin-bottom: 15px;
      display: block;
      width: 241px;
    }

    input[id="password-login"] {
      margin-bottom: 22px;
    }

    .btn {

      &--orange {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 241px;
      }
    }

    &__wrapper {
      margin: 0 auto;
      width: 241px;
    }
  }

  ////////////// стили страницы подачи объявления

  .sell-item-page {
    min-width: 480px;
    width: 100%;

    .container {
      padding-top: 25px;
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }

    .s-6 {
      width: 100%;

      &--margin-right {
        margin-right: 0;
      }
    }

    .content-block {
      margin-bottom: 17px;
      padding: 20px;
      padding-bottom: 25px;

      &__label {
        line-height: 28px;

        &--delivery {
          margin-right: 33px;
        }
      }

      input[type="text"] {
        margin-bottom: 12px;
      }

      &__select-wrapper {
        margin-bottom: 12px;
      }

      &--sell-item-third {
        margin-bottom: 17px;
        padding-bottom: 11px;
      }

      &--sell-item-fourth {
        margin-bottom: 30px;
      }

      &--first {
        min-height: 300px;
      }
    }
  }

  .content-block {

    &__example-photo-container {
      max-width: 680px;
    }

    &__example-photo-wrapper {
      max-width: 325px;
    }

    &__link {

      &--sell-item {
        line-height: 16px;
      }
    }

    &__form-section-wrapper {
      width: 100%;

      &--odd {
        margin-right: 0;
      }
    }

    &__column-wrapper {
      width: 100%;
    }

    &__aside-text {
      padding-left: 4%;
    }
  }

  /////////////// стили страницы "мой профиль"

  .my-profile-page {
    min-width: 480px;
    width: 100%;

    .container {
      padding-top: 25px;
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }
  }

  .content-block {

    &__profile-information-wrapper {
      margin-bottom: 24px;
      padding: 0;
      width: 100%;
    }

    &__picture-upload-wrapper {
      padding: 0;
      width: 100%;
    }

    &__column-wrapper {
      box-sizing: border-box;
      width: 50%;

      &--right {
        padding-top: 14px;
        padding-left: 7px;
        float: right;
      }

      &--left {
        padding-right: 7px;
        float: left;
      }
    }

    &__my-profile-textarea {
      min-height: 172px;
    }

    &--settings {
      padding-bottom: 10px;
    }
  }

  .social-links {

    &__text-wrapper {
      margin-bottom: 10px;
      width: 100%;
    }

    &__icons-wrapper {
      width: 100%;
      text-align: left;
    }

    &__link {
      margin-left: 0;
      margin-right: 17px;
    }
  }

  .item-size {

    &__label {
      width: 50%;
    }
  }

  /////////////// стили страницы регистрации

  .registration-page {
    min-width: 480px;
    width: 100%;
    background-image: none;

    .container {
      padding-top: 25px;
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }

    .content-block {
      width: 100%;
    }
  }

  ///////////////// стили страницы промо

  .promo-page {

    &__background-layer {
      top: -65px;
      margin-left: -2164px;
    }

    .container {
      padding-top: 90px;
      width: 460px;
    }

    .promo-content {

      &__image {
        display: none;
      }

      &__card {
        margin-left: 10px;
        margin-bottom: 110px;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 222px;

        &:before {
          display: none;
        }
      }

      &__title {
        margin-bottom: 10px;
        line-height: 20px;

        &--desktop {
          display: none;
        }

        &--tablet {
          display: block;
        }
      }

      &__feature-item {
        margin-bottom: 10px;
        line-height: 16px;
      }
    }

    .gallery-item {
      margin-top: 0;
      margin-right: 0;
      width: 226px;
    }

    .page-title {
      margin-bottom: 36px;
    }
  }

  /////////////// стили страницы вещи

  .item-page {
    min-width: 480px;
    width: 100%;

    .container {
      padding-top: 18px;
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.833%;
      }
    }

    .row {

      &--first {
        margin-bottom: 172px;

        .s-4 {
          padding-bottom: 0;
          width: 100%;
        }

        .s-8 {
          margin-left: 0;
          padding-bottom: 0;
          width: 100%;
          min-height: 100px;
        }
      }
    }

    &__item-card-container {
      min-height: 100px;
    }

    .breadcrumbs-navigation {
      display: none;
    }

    .banner-wrapper {
      display: block;
      margin: 0 auto;
      margin-bottom: 120px;
      width: 460px;
      min-height: 563px;
      height: 563px;
    }

    .banner {
      width: 460px;
      min-height: 563px;
      height: 563px;
    }

    .buttons-wrapper {
      position: absolute;
      top: 589px;
      z-index: 1;
    }

    .btn {

      &--edit {
        display: none;
        width: 100%;

        &:before {
          left: 35%;
        }
      }

      &--add-to-cart {
        display: none;
        width: 100%;

        &:before {
          left: 30%;
        }
      }

      &--add-to-cart-mobile {
        z-index: 100;
      }

      &--quick-sell {
        display: none;
        width: 100%;

        &:before {
          left: 35%;
        }
      }

      &--add-to-cart-mobile {
        display: inline-block;
        vertical-align: top;
      }
    }

    .item-price-btn-wrapper {
      width: 100%;
    }

    .like-item {
      position: relative;
      margin-bottom: 36px;
      z-index: 100;
    }

    .gallery {
      margin-bottom: 80px;

      &--item-page {
        margin-bottom: 20px;
        margin-right: -3%;
      }
    }

    .gallery-item {
      margin-right: 3%;
      width: 46.8%;
    }

    .content-block {

      &--why-ningo {
        display: none;
      }

      &--some-information {
        display: none;
      }

      &--some-information-mobile {
        display: block;
      }

      &--join-us {
        display: block;
        overflow: visible;
      }

      &--item-card {
        overflow: visible;
      }
    }

    &--edit {

      .btn {

        &--add-to-cart-mobile {
          display: none;
        }

        &--edit {
          position: relative;
          top: 0;
        }

        &--edit-mobile {
          display: inline-block;
          vertical-align: top;
          margin-bottom: 13px;
          z-index: 100;
        }

        &--quick-sell-mobile {
          display: inline-block;
          vertical-align: top;
          z-index: 100;
        }
      }

      .like-item {
        position: relative;
        z-index: 100;
      }

      .row {

        &--first {
          margin-bottom: 102px;
        }
      }
    }
  }
}




































@media (max-width: 479px) {

  .container {
    width: 87.5%;
    padding-left: 0;
    padding-right: 0;

    &--small {
      width: 87.5%;
    }
  }


  /////////////// стили главной
  
  .main-page {

    .container {
      padding-top: 80px;
    }

    .main-header {

      &__select-wrapper {
        width: 100%;

        .main-header {

          &__select {
            width: 100%;
          }
        }
      }

      &__close {
        position: absolute;
        bottom: 14px;
        right: 0;
      }

      &__input-container {
        width: 100%;
      }

      input.main-header__input[type="text"] {
        font-size: 14px;
      }
    }

    .index-screen {
      display: none;
    }

    .page-title {

      &--main-page {
        display: block;
        margin-bottom: 30px;
        line-height: 30px;
      }
    }

    .filters {
      margin-bottom: 15px;

      &__item {
        margin-right: 2.5%;
        margin-bottom: 15px;
        width: 23%;

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      &__text {

        @media (min-width: 321px) and (max-width: 370px) {
          font-size: 10px;
        }
      }
    }

    .gallery {
      margin-bottom: 10px;

      &--main-page {

        .gallery-item {
          margin-right: 2%;
          width: 47.5%;
        }
      }
    }
  }


  /////////////// стили страницы инфо

  .info-page {
    min-width: 320px;

    .content-block {

      &__image {
        width: 120%;
        padding-left: 0;

        &--bigger {
          width: 100%;
        }
      }

      &__image-wrapper {
        padding-top: 70px;
        width: 40%;

        &--sell {
          padding-left: 0;
        }
      }

      &--how-to-buy {
        padding-bottom: 0;
      }

      &--how-to-sell {
        padding-bottom: 0;
      }

      &--faq {
        padding-bottom: 0;
      }
    }
  }

  .content-block {

    &__feature-wrapper {
      padding-top: 28px;
      width: 48%;
    }

    &__feature-description {
      margin: 0;
    }

    &__icon-wrapper {
      padding: 25px 0;
    }

    &__link {

      &--sell {
        display: none;
      }
    }
  }

  .faq {

    &__toggle {
      padding-right: 35px;
    }

    &__content {
      padding-right: 5px;
    }
  }

  /////////////// стили страницы избранное

  .favourites-page {
    min-width: 320px;
    width: 100%;

    .container {
      padding-top: 25px;
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.313%;
      }
    }

    .content-block {

      &--join-us {
        overflow: visible;
      }
    }
  }

  .gallery {

    &--favourites {
      margin-right: -3.54%;
      min-width: 305px;
    }
  }

  /////////////// стили страницы "мои вещи"

  .my-items {
    min-width: 320px;
    width: 100%;

    .container {
      padding-top: 25px;
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.313%;
      }
    }

    .filter {
      margin-bottom: 16px;
      width: 100%;
      text-align: center;

      &__list {
        padding: 0;
      }

      &__item {
        display: inline-block;
        vertical-align: top;
        margin-left: 14px;
        margin-right: 14px;
      }
    }

    .gallery {

      &--my-items {
        margin-bottom: 9px;
        min-width: 305px;

        &:before {
          top: -16px;
        }
      }
    }

    .add-item {

      &__link {

        &:before {
          top: 19.417%;
        }

        &:after {
          top: 62.136%;
        }
      }
    }
  }

  .page-title {

    &--my-items {
      margin-bottom: 0;
      width: 100%;
    }
  }

  /////////////// стили страницы "профиль"

  .profile-page {
    min-width: 320px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.313%;
      }
    }

    .profile-card {
      padding-left: 5.9%;
      padding-right: 5.9%;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 88.2%;

      &__avatar {
        margin-bottom: 20px;
        padding-left: 0;
        width: 45.72%;
      }

      &__name-wrapper {
        float: right;
        width: 45.72%;
      }

      &__username {
        margin-bottom: 3px;
        padding-top: 24px;
        line-height: 24px;
      }

      &__btn-wrapper {
        margin-bottom: 11px;
        width: 100%;
      }

      &__info-wrapper {
        padding-top: 0;
      }

      &__contacts {
        width: 100%;
      }

      &__stats {
        width: 100%;
      }

      &__text {
        position: relative;
        padding-top: 12px;
        border: none;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: -50px;
          width: 130%;
          height: 1px;
          background-color: #edf7f9;
        }
      }
    }

    .gallery {
      min-width: 305px;
    }

    .like-item {
      width: 100%;

      &__avatar {
        float: left;
      }

      &__info {
        float: left;
      }
    }

    .rating-box {

      &--blue {
        width: auto;
      }
    }

    .content-block {

      &--join-us {
        padding: 35px 18px;
      }
    }
  }

  /////////////// стили страницы уведомлений

  .notifications-page {
    min-width: 320px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.313%;
      }
    }

    .notification-item {

      &__text-wrapper {
        max-width: 76%;
      }
    }

    .content-block {

      &--why-ningo {
        display: none;
      }

      &--join-us {
        display: block;
        padding: 35px 18px;
        overflow: visible;
      }
    }
  }

  /////////////// стили страницы сообщений

  .messages-page {
    min-width: 320px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;

      &--small {
        width: 95.313%;
      }
    }

    .filter {

      &__item {

        &--desktop {
          display: none;
        }
      }
    }

    .content-block {

      &--why-ningo {
        display: none;
      }

      &--join-us {
        display: block;
      }

      &--some-information {
        display: block;
      }
    }
  }

  .comment {

    &--active {

      .comment__form-wrapper {
        background-image: url("../img/input-message-bg-320.png");
        background-size: 90% 61px;
      }

      .comment__textarea {
        max-width: 81%;
      }
    }
  }

  /////////////// стили страницы кошелька

  .wallet-page {
    min-width: 320px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;
      padding-top: 25px;

      &--small {
        width: 95.313%;
      }
    }

    .btn {

      &--refill {
        position: relative;
        top: -31px;
      }
    }
  }

  .page-title {

    &--wallet {
      margin-bottom: 5px;
    }
  }

  .btn {

    &--wallet {
      width: 100%;
    }
  }

  .content-block {

    &__payment-icons-image {
      position: relative;
      display: block;
      margin: 0 auto;
      top: 50px;
      padding-right: 0;
      max-width: 269px;
      width: 269px;
      text-align: center;
    }

    &__card-information {
      margin-bottom: 15px;
      width: 100%;
    }

    &__withdraw-money-form {
      width: 100%;
    }

    &__input-wrapper {
      width: 100%;
    }

    &__text {

      &--wallet-not-logged-in {
        margin-bottom: 17px;
        width: 100%;
      }
    }
  }

  input[id="withdraw"] {
    width: 100%;
  }

  /////////////// стили страницы корзины

  .cart-page {
    min-width: 320px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;
      padding-top: 25px;

      &--small {
        width: 95.313%;
      }
    }

    &__total {
      padding-left: 0;
      width: 100%;
      text-align: center;
    }

    .content-block {

      &--active {
        top: 55px;
        margin-left: -152px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 28px;
        padding-top: 20px;
        width: 274px;
      }

      &__close-btn {
        top: 15px;
        right: 13px;
      }

      &__text-input {

        &--margin-right {
          margin-right: 0;
        }

        &--half-width {
          width: 100%;
        }

        &--third-width {
          width: 100%;
        }

        &--two-thirds-width {
          width: 100%;
        }
      }
    }
  }

  .content-block {
    position: relative;

    &__item-image-wrapper {
      position: absolute;
      top: 15px;
      left: 14px;
      width: 44px;
      height: 61px;
    }

    &__image {
      display: block;
      width: 120%;
    }

    &--cart {
      padding-top: 15px;
      padding-right: 14px;
      padding-left: 14px;
    }

    &__title {

      &--cart {
        padding-left: 60px;
        padding-top: 13px;
      }
    }

    &__hashtag {
      display: block;
      margin-left: 0;
      padding-bottom: 15px;
    }

    &__link-trash {

      &--cart {
        top: 13px;
        right: 13px;
      }
    }

    &__footer {
      text-align: center;
    }

    &__link {

      &--buy-more {
        position: relative;
        top: 50px;
        display: inline-block;
        padding-left: 0;
        width: auto;
      }
    }

    &__item-description-wrapper {
      width: 100%;
    }

    &__payment-date {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      float: none;
      width: 65px;
      text-align: right;
      font-size: 12px;
      line-height: 14px;

      &--visible {
        display: none;
      }
    }

    &__payment-details-wrapper {
      margin-bottom: 25px;
    }

    &__contact-details-wrapper {
      margin-bottom: 9px;

      &--address {
        margin-bottom: 11px;
      }
    }
  }

  .item-description-table {

    &__text {

      &--gray {

        min-width: 84px;
      }
    }
  }

  .btn {

    &--checkout {
      float: none;
      margin-top: 10px;
      width: 100%;
    }

    &--confirm-delivery {
      position: relative;
      top: -35px;
      float: none;
      display: block;
      margin: 0 auto;
    }
  }

  /////////////// стили хедера для незалогиненного пользователя

  .main-header {

    &__input-container {
      width: 41.9%;
    }

    input[type="text"] {
      padding-left: 9px;
      padding-right: 9px;
      font-size: 12px;
    }

    &__input-container {
      width: 38%;
    }
  }

  ////////////// стили страницы подачи объявления

  .sell-item-page {
    min-width: 320px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;
      padding-top: 25px;

      &--small {
        width: 95.313%;
      }
    }

    .content-block {

      &--sell-item-third {
        padding-bottom: 18px;
      }
    }
  }

  .content-block {
    padding: 18px;

    &__flag {

      &:before {
        left: 15%;
      }
    }

    &__input-wrapper {

      &--sell-item {
        width: 50%;
      }
    }

    &__aside-text {
      padding-left: 10px;
      width: 44%;
    }
  }

  .page-title {

    &--sell-item {
      padding-left: 20px;
      padding-right: 20px;
      line-height: 30px;
    }
  }

  /////////////// стили страницы "мой профиль"

  .my-profile-page {
    min-width: 320px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;
      padding-top: 25px;

      &--small {
        width: 95.313%;
      }
    }

    .content-block {

      &--modal-content-my-profile {
        margin-left: -148px;
      }
    }
  }

  .content-block {

    &__profile-information-wrapper {
      margin-bottom: 0;
    }

    &__picture-upload-wrapper {
      position: relative;
    }

    &__upload-container {
      margin-bottom: 0;
    }

    &__column-wrapper {
      float: none;
      width: 100%;

      &--right {
        position: absolute;
        bottom: 0;
      }

      &--left {
        padding-bottom: 200px;
      }
    }

    &__my-profile-textarea {
      min-height: 85px;
    }

    &--settings {
      padding-bottom: 5px;
    }

    &__checkbox-label {
      margin-bottom: 20px;
      line-height: 18px;

      &:before {
        top: 0;
      }

      &:hover {

        &:before {
          top: 0;
        }
      }
    }

    input[type="checkbox"]:checked + .content-block__checkbox-label {

      &:before {
        top: 0;
      }

      &:after {
        top: 0;
      }
    }

    &__text-label {

      &--who-can-see {
        margin-bottom: 15px;
        padding-top: 0;
        width: 100%;
      }
    }

    &__select-wrapper {

      &--who-can-see {
        width: 100%;
      }
    }

    &--who-can-see {
      padding-bottom: 15px;
    }
  }

  .display-options {

    &__text-wrapper {

      &:before {
        top: 3px;
      }
    }

    &__label {
      margin-bottom: 10px;
      line-height: 18px;
    }

    #show-all:checked ~ label[for="show-all"] {

      &:before {
        top: 3px;
      }
    }

    #show-medium:checked ~ label[for="show-medium"] {

      &:before {
        top: 3px;
      }
    }

    #show-premium:checked ~ label[for="show-premium"] {

      &:before {
        top: 3px;
      }
    }
  }

  /////////////// стили страницы регистрации

  .registration-page {
    min-width: 320px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;
      padding-top: 25px;

      &--small {
        width: 95.313%;
      }
    }

    .content-block {

      &--registration {
        padding-left: 22px;
        padding-right: 22px;
      }

      &--display-options {
        padding-top: 30px;
      }
    }
  }

  ///////////////// стили страницы промо

  .promo-page {

    &__background-layer {
      display: none;
    }

    &__outer-container {
      height: 680px;
    }

    .container {
      padding-top: 78px;
      width: 305px;
    }

    .gallery-item {
      display: none;
    }

    .promo-content {

      &__card {
        margin-left: 0;
        margin-bottom: 20px;
        padding-top: 28px;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
        width: 305px;
      }

      &__title {
        margin-bottom: 25px;
      }

      &__feature-item {
        margin-bottom: 18px;
      }
    }

    .page-title {
      margin-bottom: 20px;
      line-height: 24px;
    }
  }

  /////////////// стили страницы вещи

  .item-page {
    min-width: 320px;
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;
      padding-top: 25px;

      &--small {
        width: 95.313%;
      }
    }

    .row {

      &--first {
        margin-bottom: 22px;
      }
    }

    .banner-wrapper {
      margin-bottom: 100px;
      width: 304px;
      height: 368px;
      min-height: 368px;
      max-height: 368px;
    }

    .banner {
      width: 100%;
      height: 368px;
      min-height: 368px;
      max-height: 368px;

      &__image {
        width: 100%;
        height: auto;
      }
    }

    .buttons-wrapper {
      top: 383px;
    }

    .content-block {

      &__hashtag {
        display: inline-block;
        vertical-align: top;
        padding-bottom: 0;
      }

      &--item-card {
        margin-bottom: 18px;
        padding-bottom: 0;
      }

      &--active {
        position: fixed;
      }
    }

    .like-item {
      margin-bottom: 20px;
    }

    .btn {

      &--add-to-cart-mobile {

        &:before {
          left: 20%;
        }
      }

      &--edit-mobile {

        &:before {
          left: 25%;
        }
      }

      &--quick-sell-mobile {

        &:before {
          left: 25%;
        }
      }
    }

    .gallery {

      &--comments {
        margin-bottom: 20px;
      }
    }

    .filter {
      margin-bottom: 13px;
    }

    .gallery-item {
      margin-bottom: 11px;
    }
  }
}









@media (max-width: 320px) {

  .main-page {

    .container {
      min-width: 265px;
    }

    .filters {

      &__item {
        width: 31.54%;

        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(4n) {
          margin-right: 2.5%;
        }
      }
    }

    .gallery {

      &--main-page {
        margin-right: 0;

        .gallery-item {
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }
}













//доп. брейкпоинты для текста на плашках фильтра на главной

@media (max-width: 900px) {

  .filters {

    &__text {
      font-size: 11px;
    }
  }
}

@media (max-width: 850px) {

  .filters {

    &__text {
      padding-left: 5px;
      font-size: 10px;
      letter-spacing: -0.3px;
    }
  }
}

//доп.брейкпоинт для стилизации хедера на главной
@media (max-width: 545px) {

  .main-page {

    .index-screen {

      &__top {
        opacity: 0;
      }
    }

    .main-header {
      position: fixed;
      display: block;
    }
  }
}

//дополнительный брейкпоинт для выравнивания высоты контейнеров на странице подачи объявления
@media (min-width: 840px) and (max-width: 969px) {

  .sell-item-page {

    .content-block {

      &--first {
        height: 526px;
      }

      &--second {
        height: 526px;
      }
    }

    textarea[name="item-description"] {
      margin-bottom: 35px;
    }
  }
}