.btn{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding: 9px 20px;
  border-radius: 5px;
  font-weight: 600;

  &:hover,
  &--hover{

  }

  &:active,
  &--active{

  }

  &--blue{
    background: #91d8f3;
    color: #fff;

    &:hover,
    &--hover{
      background: #6ecbed;
    }

    &:active,
    &--active{
      opacity: .9;
    }
  }

  &--transparent{
    background: transparent;
    color: #6ecbed;
    font-weight: 400;

    &:hover,
    &--hover{
      color: #2b7a97;
    }

    &:active,
    &--active{
      opacity: .9;
    }
  }

  //кнопка отправки сообщения на стр. инфо
  &--send-message {
    padding-bottom: 6px;
    padding-left: 38px;
    padding-right: 38px;
    background-color: #6dcbed;
    border: none;
    outline: none;
    color: #fff;

    &:hover,
    &--hover{
      background-color: #91d8f3;
    }

    &:active,
    &--active{
      opacity: .9;
    }
  }
}
