.favourites-page {
  min-width: 970px;
  background-color: @bg-blue;
  color: @darkgray;

  .container {
    padding-top: 30px;
    padding-bottom: 0;
    padding-left: 22px;
    padding-right: 22px;
    width: 926px;
  }
}

.s-8 {
  padding: 0;
}

.favourites-gallery {
  margin-right: -15px;
}