// главный экран на индексной странице
.index-screen{
  height: 100%;
  background: @main-page-top;
  padding: 20px 0 200px;
  box-sizing: border-box;

  .container{
    height: 100%;
  }

  .logo{
    float: left;
    margin-right: 20px;
  }

  &__nav{
    float: left;

    a{
      font-size: 14px;
      line-height: 40px;
      color: #6ecbed;
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      margin-right: 25px;

      &:hover{
        color: #2b7a97;
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__login{
    float: right;

    .tooltip-container{
      display: inline-block;
      vertical-align: top;
    }
  }

  &__form-container{
    display: table;
    min-height: 200px;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    height: 90%;
  }

  &__form{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }

  form{
    position: relative;
  }

  input[type="text"].index-screen__input{
    box-sizing: border-box;
    width: 100%;
    font-size: 22px;
    line-height: 40px;
    color: #313131;
    font-weight: 300;
    padding: 20px 60px 20px 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: none;
    border: none;
    box-shadow: 0 0 20px 21px rgba(106,195,227, 0.13);

    &::-webkit-input-placeholder{
      color: #f3bd01;
    }

    &::-moz-placeholder{
      color: #f3bd01;
    }

    &:hover{
      box-shadow: 0 0 20px 21px rgba(255,255,255, 0.25);
    }

    &:focus{
      box-shadow: 0 0 20px 21px rgba(255,255,255, 0.25);

      &::-webkit-input-placeholder{
        color: #818181;
      }

      &::-moz-placeholder{
        color: #818181;
      }
    }
  }

  &__button{
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    background: url("../img/ico/ico-01.svg") no-repeat center;

    position: absolute;
    top: 15px;
    right: 20px;
  }

  &__more{
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    display: block;
    color: #6ecbed;
    padding-left: 20px;
    background: url("../img/ico-arrow-down.png") no-repeat 5px center;
    margin-top: 10px;
  }
}


// logo
.logo{
  display: block;
  width: 88px;
  height: 42px;

  img{
    display: block;
    width: inherit;
    height: inherit;
  }

  a{
    display: block;
    text-decoration: none;

    &:hover{
      opacity: .7;
    }
  }

  &--big{
    width: 110px;
    height: 50px;
  }
}


// main-header
.main-header{
  background: #fff;

  &--sticky{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
  }

  &__right{
    float: right;
    font-size: 0;

    .tooltip-container{
      display: inline-block;
      vertical-align: top;
    }
  }

  &__left{
    display: none;

    &--open{
      display: block;
    }
  }

  .logo{
    float: left;
  }

  &__navigation{
    float: left;
  }

  &__find{
    float: right;
    padding-left: 40px;
    background: #fff url("../img/ico/ico-02.svg") no-repeat 13px center;

    &:hover{
      background: #f2fbff url("../img/ico/ico-02.svg") no-repeat 13px center;
    }
  }

  &__form{
    padding: 3px 8px;
  }

  &__select{
    width: 145px;
    float: left;
    margin-top: 0;
  }

  &__input-container{
    margin-left: 155px;
    margin-right: 220px;
  }

  input[type="text"].main-header__input{
    background: #fff;
    border: none;
    width: 100%;
  }

  &__close{
    float: right;
    width: 18px;
    height: 18px;
    margin-top: 13px;
    margin-right: 10px;
    border: none;
    background: transparent url("../img/ico/ico-19.svg") no-repeat center;
  }

}
