// главный экран на индексной странице
.index-screen{
  position: relative;
  height: 100%;
  background: @main-page-top;
  padding: 20px 0 200px;
  box-sizing: border-box;

  .container{
    height: 100%;
  }

  .logo{
    float: left;
    margin-right: 20px;
  }

  &__nav{
    float: left;

    a{
      font-size: 14px;
      line-height: 40px;
      color: #6ecbed;
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      margin-right: 25px;

      &:hover{
        color: #2b7a97;
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__login{
    float: right;

    .tooltip-container{
      display: inline-block;
      vertical-align: top;
    }
  }

  &__form-container{
    display: table;
    min-height: 200px;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    height: 90%;
  }

  &__form{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }

  form{
    position: relative;
  }

  &__input-wrapper {
    position: relative;

    &:before {
      content: url("../img/search-input-bg.png");
      position: absolute;
      top: 0;
      left: -7px;
      z-index: 1;
    }
  }

  input[type="text"].index-screen__input{
    position: relative;
    box-sizing: border-box;
    width: 730px;
    font-size: 22px;
    line-height: 40px;
    color: @orange;
    font-weight: 100;
    padding: 20px 60px 18px 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: none;
    border: none;
    z-index: 50;
    /*box-shadow: 0 0 20px 21px rgba(106,195,227, 0.13);*/

    &::-webkit-input-placeholder{
      color: @orange;
      font-weight: 100;
    }

    &::-moz-placeholder{
      color: @orange;
      font-weight: 100;
    }

    &:hover{
      box-shadow: 0 0 40px 21px rgba(255,255,255, 0.25);
    }

    &:focus{

      &::-webkit-input-placeholder{
        color: @orange;
      }

      &::-moz-placeholder{
        color: @orange;
      }
    }
  }

  &__button{
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    background: url("../img/ico/ico-01.svg") no-repeat center;

    position: absolute;
    top: 30px;
    right: 14px;
    z-index: 50;
  }

  &__more{
    position: relative;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    display: block;
    color: #6ecbed;
    padding-left: 20px;
    background: url("../img/ico-arrow-down.png") no-repeat 5px center;
    margin-top: 10px;
    z-index: 80;
  }
}


// logo
.logo{
  display: block;
  width: 88px;
  height: 42px;

  img{
    display: block;
    width: inherit;
    height: inherit;
  }

  a{
    display: block;
    text-decoration: none;

    &:hover{
      opacity: .7;
    }
  }

  &--big{
    width: 110px;
    height: 50px;
  }
}


// main-header
.main-header{
  background: #fff;

  &--sticky{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
  }

  &--hidden{
    display: none;
  }

  &__right{
    float: right;
    font-size: 0;

    .tooltip-container{
      display: inline-block;
      vertical-align: top;
    }
  }

  &__left{
    display: none;
    box-shadow: 0px 1px 3px 0px rgba(8,68,95,0.1);

    &--open{
      display: block;
    }
  }

  .logo{
    /*float: left;*/
    position: absolute;
    top: 0;
    left: 0;

  }

  &__navigation{
    float: left;
  }

  &__find{
    float: right;
    padding-left: 40px;
    background: #fff url("../img/ico/ico-02.svg") no-repeat 13px center;

    &:hover{
      background: #f2fbff url("../img/ico/ico-02.svg") no-repeat 13px center;
    }
  }

  &__form{
    padding: 0 8px;
    padding-top: 4px;
    padding-bottom: 2px;
  }

  &__select-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 145px;
    height: 42px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 4px;

    &:after {
      content: url("../img/ico/ico-20.svg");
      position: absolute;
      top: 9px;
      right: 10px;
    }

    &:hover {

      &:after {
        content: url("../img/ico/ico-21.svg");
        position: absolute;
        top: 9px;
        right: 10px;
      }
    }
  }

  &__select{
    width: 143px;
    height: 40px;
    float: left;
    margin-top: 0;
    border: none;
    outline: none;
    color: #999;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__input-container{
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: 44px;
  }

  input[type="text"].main-header__input{
    display: block;
    background: #fff;
    border: none;
    width: 100%;
  }

  &__close{
    float: right;
    width: 18px;
    height: 18px;
    margin-top: 13px;
    margin-right: 10px;
    border: none;
    background: transparent url("../img/ico/ico-19.svg") no-repeat center;
  }

  .mobile-menu-toggle {
    display: none;
  }
}
