.my-items {

  .container {

    &--small {
      padding: 0 22px;
      padding-top: 30px;
      padding-bottom: 120px;
      width: 926px;
    }
  }

  .s-8 {
    padding: 0;
    width: 610px;
    overflow: hidden;
  }

  .s-4 {
    padding-right: 0;
    padding-left: 22px;
    width: 315px;
  }
}



//заголовок страницы
.page-title {

  &--my-items {
    float: left;
    margin-bottom: 17px;
  }
}