.my-profile-page {
  min-width: 970px;
  background-color: @bg-blue;
  color: @darkgray;

  .container {
    padding-top: 25px;
    padding-bottom: 132px;
  }

  //ширина колонки немного отличается от сеточной
  .s-8 {
    padding-left: 0;
    padding-right: 12px;
    width: 620px;
  }

  .s-4 {
    padding-left: 5px;
  }

  .main-header {

    &__input-container {
      height: 44px;
    }
  }

  &__delete-link {
    display: block;
    margin-bottom: 11px;
    text-align: right;
    font-size: 12px;
    line-height: 16px;
    color: @blue;

    &:hover,
    &--hover{
      color: #91d8f3;
    }

    &:active,
    &--active{
      opacity: .9;
    }
  }
}