.add-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
  padding: 40px 31px 34px 30px;
  width: 75px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(8,68,95,0.05);
  background-color: #fff;

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  &__link {
    display: block;
    margin-bottom: 6px;
    text-decoration: none;
    color: #d1f1ff;

    &:hover {
      opacity: .7;
    }
  }
}