//фильтр - навигация
.filter {
  float: right;

  &__list {
    margin: 0;
    padding: 0;
    padding-right: 9px;
    list-style: none;
  }

  &__item {
    margin-left: 28px;
    padding: 0;
    padding-top: 3px;
    display: inline-block;
    vertical-align: top;

    &--profile {
      margin-left: 18px;
    }

    &--first {
      margin-left: 0;
    }
  }

  &__link {
    padding: 0;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    color: @darkgray;

    &--active {
      color: @blue;
      cursor: default;
    }

    &:hover {
      color: @blue;
    }

    &:active {
      opacity: .7;
    }
  }

  &--profile {
    float: none;
    margin-bottom: 17px;
  }

  &--cart {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    text-align: right;
  }

  &--item-page {
    position: relative;
    display: block;
    margin-bottom: 22px;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 610px;
      height: 1px;
      background-color: #d1f1ff;
    }
  }
}