.item-description-table {
  display: inline-block;
  vertical-align: top;
  width: 49%;

  &__text-wrapper {
    padding-left: 9px;
    width: 39%;
    font-size: 12px;
    line-height: 24px;

    &--gray {
      padding-left: 0;
      width: 80px;
      color: #999;
    }
  }

  &__text {
    width: 39%;

    &--gray {
      width: 14%;
    }
  }

  &__select-wrapper {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 6px;
    width: 194px;
    height: 40px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 4px;

    &:after {
      content: url("../img/ico/ico-20.svg");
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &:hover {

      &:after {
        content: url("../img/ico/ico-21.svg");
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }

  &__select {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color: transparent;
    border: none;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;

    &:focus {
      outline: none;
      border: none;
    }
  }
}