.tooltip-container{
  position: relative;

  &--active{
    .tooltip-content{
      display: block;
    }
  }
}

.tooltip-content{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-110px,105%);
  text-align: center;
  z-index: 300;
  box-shadow: 0 1px 7px 3px rgba(8,68,95,.1);
  display: none;

  &__title{
    font-size: 12px;
    line-height: 14px;
    color: #313131;
    margin: 0;
    margin-bottom: 20px;
  }

  &--triangle{

    &::before{
      content: "";
      width: 20px;
      height: 20px;
      background: #fff;
      transform: rotate(-45deg);
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -10px;
      z-index: 450;
    }
  }
}

.tooltip-socio{
  width: 300px;
  box-sizing: border-box;
  background: #fff;
  padding: 30px 20px 25px;
  border-bottom: 1px solid #edf7fa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &__ico{
    font-size: 0;

    a{
      display: inline-block;
      vertical-align: top;
      margin: 0 10px;

      &:hover{
        opacity: .8;
      }
    }

    img{
      display: block;
      width: 45px;
      height: 45px;
    }
  }
}


.tooltip-email{
  width: 300px;
  box-sizing: border-box;
  background: #fff;
  padding: 25px 30px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .btn{
    margin-top: 15px;
    width: 100%;
    margin-bottom: 20px;
  }

  &__href{

    a{
      font-size: 12px;
      line-height: 16px;
      color: #999;

      &:first-child{
        float: left;
      }

      &:last-child{
        float: right;
      }

      &:hover{
        text-decoration: none;
        color: darken( #999, 20%);
      }
    }
  }
}
